.home-page{
  margin-right: 0;
    height: 750px;
    background-image: url("../../images/Dhaka-Metro.jpg");
    background-attachment: fixed;  
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
  }